# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Azure
.azure/
*.local.settings.json

# IDE
.vscode/
.idea/
*.swp
*.swo

